## Predict The Flight Ticket Price

Flight ticket prices can be something hard to guess, today we might see a price, check out the price of the same flight tomorrow, it will be a different story. We might have often heard travellers saying that flight ticket prices are so unpredictable. Huh! Here we take on the challenge! As data scientists, we are gonna prove that given the right data anything can be predicted. Here you will be provided with prices of flight tickets for various airlines between the months of March and June of 2019 and between various cities.

Size of training set: 10683 records

Size of test set: 2671 records

FEATURES:
Airline: The name of the airline.

Date_of_Journey: The date of the journey

Source: The source from which the service begins.

Destination: The destination where the service ends.

Route: The route taken by the flight to reach the destination.

Dep_Time: The time when the journey starts from the source.

Arrival_Time: Time of arrival at the destination.

Duration: Total duration of the flight.

Total_Stops: Total stops between the source and destination.

Additional_Info: Additional information about the flight

Price: The price of the ticket

In [69]:
import pandas as pd
import numpy as np

In [70]:
data = pd.read_excel('/content/Data_Train.xlsx')

In [71]:
data.shape

(10683, 11)

In [72]:
data = data.append(pd.read_excel('/content/Test_set.xlsx'),sort=False)

In [73]:
data.shape

(13354, 11)

In [74]:
data.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info    Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897.0
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662.0
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882.0
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218.0
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302.0

[5 rows x 11 columns]

In [75]:
data.shape

(13354, 11)

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [77]:
# Check null values
data.isnull().any()

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price               True
dtype: bool

There are null values in Route, Total stops and Price.

In [78]:
# Removing null values from Price. Replace it with mean Price
data['Price'] = data['Price'].fillna(np.mean(data['Price']))

### Featurization

##### Date of Journey

In [79]:
# Create new columns Date , Month, Year by splitting Date_of_Journey
data['Date'] = data['Date_of_Journey'].str.split('/').str[0]
data['Month'] = data['Date_of_Journey'].str.split('/').str[1]
data['Year'] = data['Date_of_Journey'].str.split('/').str[2]

In [80]:
# Chnge data type to int
data['Date'] = data['Date'].astype('int')
data['Month'] = data['Month'].astype('int')
data['Year'] = data['Year'].astype('int')

In [81]:
# Drop original columns
data = data.drop(['Date_of_Journey'], axis=1)

##### Arrival Time

In [82]:
data['Arrival_Time'] = data['Arrival_Time'].str.split(' ').str[0]

In [83]:
data.head()

       Airline    Source Destination  ... Date Month  Year
0       IndiGo  Banglore   New Delhi  ...   24     3  2019
1    Air India   Kolkata    Banglore  ...    1     5  2019
2  Jet Airways     Delhi      Cochin  ...    9     6  2019
3       IndiGo   Kolkata    Banglore  ...   12     5  2019
4       IndiGo  Banglore   New Delhi  ...    1     3  2019

[5 rows x 13 columns]

In [84]:
# Split Departure time into hours and minutes
data['Dep_hr'] = data['Dep_Time'].str.split(":").str[0]
data['Dep_min'] = data['Dep_Time'].str.split(":").str[1]

data['Dep_hr'] = data['Dep_hr'].astype('int')
data['Dep_min'] = data['Dep_min'].astype('int')

In [85]:
# Split Arrival time into hours and minutes
data['Arr_hr'] = data['Arrival_Time'].str.split(":").str[0]
data['Arr_min'] = data['Arrival_Time'].str.split(":").str[1]

data['Arr_hr'] = data['Arr_hr'].astype('int')
data['Arr_min'] = data['Arr_min'].astype('int')

In [86]:
# Remove columns
data = data.drop(['Arrival_Time','Dep_Time'], axis=1)

In [87]:
data.head()

       Airline    Source Destination  ... Dep_min Arr_hr Arr_min
0       IndiGo  Banglore   New Delhi  ...      20      1      10
1    Air India   Kolkata    Banglore  ...      50     13      15
2  Jet Airways     Delhi      Cochin  ...      25      4      25
3       IndiGo   Kolkata    Banglore  ...       5     23      30
4       IndiGo  Banglore   New Delhi  ...      50     21      35

[5 rows x 15 columns]

##### Duration

In [88]:
# Split duration in hour and minutes
data['Dur_hr'] =  data['Duration'].str.split(' ').str[0] #if 'h' in  data['Duration'].str.split(' ').str[0]
data['Dur_min'] = data['Duration'].str.split(' ').str[1]

In [89]:
# remove characters 
data['Dur_hr']  = data['Dur_hr'].apply(lambda x : x.replace('h', "") if "h" in x else "0")

In [90]:
data['Dur_min'] = data['Dur_min'].fillna('0m')

In [91]:
data['Dur_min']  = data['Dur_min'].apply(lambda x : x.replace('m', "") if "m" in x else "0")

In [92]:
data['Dur_hr'] = data['Dur_hr'].astype('int')
data['Dur_min'] = data['Dur_min'].astype('int')

In [93]:
data.head()

       Airline    Source Destination  ... Arr_min Dur_hr Dur_min
0       IndiGo  Banglore   New Delhi  ...      10      2      50
1    Air India   Kolkata    Banglore  ...      15      7      25
2  Jet Airways     Delhi      Cochin  ...      25     19       0
3       IndiGo   Kolkata    Banglore  ...      30      5      25
4       IndiGo  Banglore   New Delhi  ...      35      4      45

[5 rows x 17 columns]

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            13354 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Dep_hr           13354 non-null  int64
 12  Dep_min          13354 non-null  int64
 13  Arr_hr           13354 non-null  int64
 14  Arr_min          13354 non-null  int64
 15  Dur_hr           13354 non-null  int64
 16  Dur_min          13354 non-null  int64
dtypes: float64(1), int64(9), object(7)
memory usage: 1.8+ MB

In [95]:
data = data.drop(['Duration'], axis=1)

##### route

In [96]:
# Split by arrow
data['route_1'] = data['Route'].str.split("→ ").str[0]
data['route_2'] = data['Route'].str.split("→ ").str[1]
data['route_3'] = data['Route'].str.split("→ ").str[2]
data['route_4'] = data['Route'].str.split("→ ").str[3]
data['route_5'] = data['Route'].str.split("→ ").str[4]

In [97]:
data = data.drop(['Route'], axis=1)

In [98]:
data.isnull().sum()

Airline                0
Source                 0
Destination            0
Total_Stops            1
Additional_Info        0
Price                  0
Date                   0
Month                  0
Year                   0
Dep_hr                 0
Dep_min                0
Arr_hr                 0
Arr_min                0
Dur_hr                 0
Dur_min                0
route_1                1
route_2                1
route_3             4341
route_4            11397
route_5            13296
dtype: int64

In [99]:
# Impute null values with None
data['route_1'] = data['route_1'].fillna("None")
data['route_2'] = data['route_2'].fillna("None")
data['route_3'] = data['route_3'].fillna("None")
data['route_4'] = data['route_4'].fillna("None")
data['route_5'] = data['route_5'].fillna("None")

##### Stops

In [100]:
data['Total_Stops'] = data['Total_Stops'].fillna("1 Stop")

In [101]:
data['Total_Stops'] = data['Total_Stops'].replace('non-stop', '0 stop')

In [102]:
data.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Dep_hr             0
Dep_min            0
Arr_hr             0
Arr_min            0
Dur_hr             0
Dur_min            0
route_1            0
route_2            0
route_3            0
route_4            0
route_5            0
dtype: int64

In [103]:
data['Stops'] = data['Total_Stops'].str.split(" ").str[0]

In [104]:
data = data.drop(['Total_Stops'], axis=1)

In [105]:
data['Stops'] = data['Stops'].astype('int')

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Additional_Info  13354 non-null  object
 4   Price            13354 non-null  float64
 5   Date             13354 non-null  int64
 6   Month            13354 non-null  int64
 7   Year             13354 non-null  int64
 8   Dep_hr           13354 non-null  int64
 9   Dep_min          13354 non-null  int64
 10  Arr_hr           13354 non-null  int64
 11  Arr_min          13354 non-null  int64
 12  Dur_hr           13354 non-null  int64
 13  Dur_min          13354 non-null  int64
 14  route_1          13354 non-null  object
 15  route_2          13354 non-null  object
 16  route_3          13354 non-null  object
 17  route_4          13354 non-null  object
 18  route_5          13354 non-null  object
 19  Stops            13354 non-null  int64
dtypes: float64(1), int64(10), object(9)
memory usage: 2.1+ MB

### Label Encoding

In [107]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data["Airline"]=encoder.fit_transform(data['Airline'])
data["Source"]=encoder.fit_transform(data['Source'])
data["Destination"]=encoder.fit_transform(data['Destination'])
data["Additional_Info"]=encoder.fit_transform(data['Additional_Info'])
data["route_1"]=encoder.fit_transform(data['route_1'])
data["route_2"]=encoder.fit_transform(data['route_2'])
data["route_3"]=encoder.fit_transform(data['route_3'])
data["route_4"]=encoder.fit_transform(data['route_4'])
data["route_5"]=encoder.fit_transform(data['route_5'])

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  int64
 1   Source           13354 non-null  int64
 2   Destination      13354 non-null  int64
 3   Additional_Info  13354 non-null  int64
 4   Price            13354 non-null  float64
 5   Date             13354 non-null  int64
 6   Month            13354 non-null  int64
 7   Year             13354 non-null  int64
 8   Dep_hr           13354 non-null  int64
 9   Dep_min          13354 non-null  int64
 10  Arr_hr           13354 non-null  int64
 11  Arr_min          13354 non-null  int64
 12  Dur_hr           13354 non-null  int64
 13  Dur_min          13354 non-null  int64
 14  route_1          13354 non-null  int64
 15  route_2          13354 non-null  int64
 16  route_3          13354 non-null  int64
 17  route_4          13354 non-null  int64
 18  route_5          13354 non-null  int64
 19  Stops            13354 non-null  int64
dtypes: float64(1), int64(19)
memory usage: 2.1 MB

### Feature Selection

In [109]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [110]:
data_train = data[0:10683]
data_test = data[10683:]

In [111]:
Y = data_train['Price']
X = data_train.drop(['Price'], axis=1)

In [112]:
#Split the data
from sklearn.model_selection import  train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=0)

In [113]:
model=SelectFromModel(Lasso(alpha=0.005,random_state=0))
model.fit(x_train,y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=0,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [114]:
model.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [115]:
# Get selected features
selected_features=x_train.columns[(model.get_support())]

In [116]:
selected_features

Index(['Airline', 'Source', 'Destination', 'Additional_Info', 'Date', 'Month',
       'Dep_hr', 'Dep_min', 'Arr_hr', 'Arr_min', 'Dur_hr', 'Dur_min',
       'route_1', 'route_2', 'route_3', 'route_4', 'route_5', 'Stops'],
      dtype='object')

In [117]:
x_train=x_train.drop(['Year','route_5'],axis=1)
x_test=x_test.drop(['Year','route_5'],axis=1)

### Modelling

In [118]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [119]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train_scaled, y_train)
y_pred = reg.predict(x_test_scaled)

In [120]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test, y_pred, squared=False)

3173.2461413550227

In [121]:
r2_score(y_test, y_pred)

0.5069031824621535

In [122]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

In [123]:
regr = RandomForestRegressor(max_depth=100, random_state=0)
regr.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=100, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [124]:
y_pred = regr.predict(x_test)

In [125]:
r2_score(y_test, y_pred)

0.8703774370617017